# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore generic model artifacts, except in models/ and encoders/
*.pkl
!models/*.pkl
!encoders/*.pkl

# Ignore other temp files
*.joblib
*.log
*.tmp

# Environment and system files
.env
venv/
.DS_Store

