# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore models and preprocessing artifacts
models/
encoders/
*.pkl
*.joblib

# Ignore datasets
*.csv
*.xlsx

# Ignore environment files
.env
venv/

# Ignore system files
.DS_Store
